/* container 클래스를 가진 요소 안의
모든 p 태그의 텍스트 색상을 green으로 설정
*/
.container p {
    color: green;
}


/* 컨테이너 클래스를 가진 div 태그의
직계 자식인 p 태그에 대해서
background-color를 black으로 설정
*/
div.container > p {
    background-color: black;
}

/* 형제 선택자 실습
    p태그의 형제 div 태그를 선택하여
    background-color를 blue로 설정
*/
p ~ div {
    background-color: blue;
}

/* 인접 형제 선택자
    container 클래스를 가진 태그 안의 p 태그의
    인접한 형제 p 태그에 대해서
    background-color를 red로 설정
*/
.container>p + p {
    background-color: red;
}





