/* 선택자 심화
    1. 자손 선택자
        - 부모 태그를 선택하는 선택자를 쓰고 공백으로 띈 다음
        자식 혹은 자손 선택자를 쓰면
        부모 선택자 하위에 존재하는 모든 자손 선택자에
        해당하는 태그를 스타일 적용의 대상으로 삼는다.
*/
/* container 클래스를 가진 div를
조상 태그로 가지는
content 클래스를 가진 p태그*/
div.container p.content {
    color: blue
}

/* 자식 선택자
    직계 자식 태그를 가리키는 선택자로, 꺾쇠(>)로 표현한다.
*/
body>div>p.content {
    /* color: aqua; */
    /* font-size: larger; */
    background-color: black;
}

/* 형제 선택자
    형제 선택자는 특정 요소를 기준으로 같은 부모를 가진,
    해당 요소 ★이후에★ 나오는 형제 요소를 선택한다.
    물결표(~)로 선택한다.
*/
div.second ~ div {
    background-color: red;
}

/* 인접 형제 선택자 
    특정 요소를 기준으로 같은 부모를 가지며,
    해당 요소 바로 다음에 나오는 형제 요소를 선택한다.
    + 기호로 선택자를 연결하여
    바로 다음에 나오는 형제 요소를 선택할 수 있다.
*/
div.first + div>p.content {
    color: yellow;
}



